.f-nav{
	width: 978px;
	height: 34px;
	position: relative;
	left: 120px;
	display: flex;
}
.f-nav div{
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
}
.f-nav div:hover {
	color: white !important;
	background-color: #B1BEDD !important;
}
.f-content{
	width: 1136px;
	height: 604px;
	margin: 0 auto;
	background-image: url(../../img/p-c.jpg);
}
.f-text{
	width: 1136px;
	height: 604px;
	margin: 0 auto;
	margin-top: 20px;
}
 h1{
	    font-size: 22px;
	    color: #7C809F !important;
	    padding: 24px 0 0px;
	    list-style: none;
	    font-weight: normal;
		text-align: center;
}
p{
	line-height: 24px;
	text-indent: 2em;
	margin: 0 auto;
	width: 630px;
}
.f-text span{
	color: #000000 !important;
	font-weight: 700;
}